.Page {
    background: #333;
    position: relative;
}

.Page-background {
    background: url('https://static1.squarespace.com/static/5709c194e321403c55496d30/578f13aa414fb579e9fa8656/5a83959b08522971783e3a96/1530054277888/shutterstock_590873999.jpg?format=2500w') no-repeat center center;

    opacity: 0.5;
    filter: blur(8px);
    -webkit-filter: blur(8px);

    width: 100%; height: 100%;
    animation: Background 120s ease infinite;
}

@-webkit-keyframes Background {
    0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Background {
    0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}



.Page-deco {
    position: absolute;
    width: 0; height: 0;
    transition: all 1s ease-in-out;
}

/* Decoration shapes */
.Page-deco.is-top { top: 0; }
.Page-deco.is-bottom { bottom: 0; }
.Page-deco.is-left { left: 0; }
.Page-deco.is-right { right: 0; }


/* Decoration positions */
.Page-deco.is-top.is-left {
    border-top: 307.2px solid #fff;
    border-right: 307.2px solid transparent;
    z-index: 1;

    display: none;
}
.Page-deco.is-top.is-right {
    border-top: 307.2px solid #fff;
    border-left: 307.2px solid transparent;

    display: none;
}
.Page-deco.is-bottom.is-left {
    border-bottom: 600px solid #fff;
    border-right: 600px solid transparent;
}
.Page-deco.is-bottom.is-right {
    border-bottom: 307.2px solid #fff;
    border-left: 307.2px solid transparent;
}

.Page-content {
    border: 1px solid white;
    position: absolute;
    top: 5%; left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 2em;
}

.Page-link {
    display: block;
    color: #fff;
}

.Page-deco__logo {
    width: 200px; height: auto;
    position: absolute;
    bottom: 0; right: 0;
}